<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Example: Change compilation settings for debug -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!-- Example: Replace customErrors section for debug -->
    <!-- Note: Uncomment and modify as needed -->   
    <!--<customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>-->
  </system.web>

  <!-- Example: Modify connection strings based on environment -->
  <!--<connectionStrings>
    <add name="MyDB" connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>-->

</configuration>
